<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ImproDev_EmailManager::manager" title="Email Manager" sortOrder="10">
                    <resource id="ImproDev_EmailManager::email_manager" title="Email Manager Grid" sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>