<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="emailmanager" frontName="email_manager">
            <module name="ImproDev_EmailManager"/>
        </route>
    </router>
</config>